<%= form_with(model: addcustomer, class: "row g-3") do |form| %>
  <% if addcustomer.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(addcustomer.errors.count, "error") %> prohibited this addcustomer from being saved:</h2>

      <ul>
        <% addcustomer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter your first name", aria_label: "First name" %>
  </div>

  <div class="col-md-6">
    <%= form.label :lastname, class: "form-label" %>
    <%= form.text_field :lastname, class: "form-control", placeholder: "Enter your last name", aria_label: "Last name" %>
  </div>

  <div class="col-12">
    <%= form.label :homeaddress, class: "form-label" %>
    <%= form.text_area :homeaddress, class: "form-control", placeholder: "Enter your home address" %>
  </div>

  <div class="col-md-6">
    <%= form.label :dateofbirth, class: "form-label" %>
    <%= form.date_select :dateofbirth, class: "form-control",:start_year=> 1950  %>
  </div>

  <div class="col-12">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>






