<p id="notice"><%= notice %></p>

<h1>Added customers</h1>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addcustomers.each do |addcustomer| %>
      
        <div class="card border border-dark" style="max-width: 18rem;">
          <div class="card-body">
          <h5 class = "card-title"> First Name: <%= addcustomer.name %></h5>
          <p class="text-dark"> Last name: <%= addcustomer.lastname %></p>
          <p class="text-dark"> Home address: <%= addcustomer.homeaddress %></p>
          <p class="text-dark"> Date of birth: <%= addcustomer.dateofbirth %></p>

          
          <%= link_to 'Show', addcustomer, class: "btn btn-success", :method => :get %>
          <%= link_to 'Edit', edit_addcustomer_path(addcustomer), class: "btn btn-primary" %>
          <%= link_to "Destroy",  addcustomer, method: :delete, class: "btn btn-danger",data: {confirm: "Are you sure that you wish to delete #{addcustomer.name}?"} %>
          
          </div>
        </div>
        
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add customer', new_addcustomer_path, class: 'btn btn-info' %>


